
.form-group label {
  color: @humble-green;
}

.btn {
  background-color: @humble-green;
  color: #CCE7D3;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
}

.btn:focus {
  color: #4E4745;
}

.container {
  margin: 50px;
}

.form-control {
  border-radius: 1px;
  border-color: #E2DDDB;
  width: 50%;
  font-family: 'Oxygen', sans-serif;
  word-wrap: break-word;
}

.form-control:focus {
  @box-shadow-gray: #A69B98;
  border-color: @box-shadow-gray;
  box-shadow: 1px 1px 1px 1px @box-shadow-gray;
  width: 50%;
  font-family: 'Oxygen', sans-serif;
}

textarea.form-control {
  height: 200px;
}

